<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="../static/js/jquery-1.12.3.min.js"></script>
    <script>
// $(function() {
    // $('#creatseEvent').click(function(){
    //         console.log(1234);
    //         openForm();
    //         return false; });});


function hideForm() {
    $('#form1').css('display','none');
        $('#form2').css('display','none');
        $('#form3').css('display','none');
        $('#form4').css('display','none');
        $('#taskView').css('display','none');
        $('#HRView').css('display','none');
        $('#budgetView').css('display','none');
        $('#eventView').css('display','none');
}

// forgot to inform scso
    function openForm(t) {

        hideForm();
        document.getElementById('form'+t).style.display = 'block'
    }

    function viewEvent(eventId,type) {
        hideForm();
        $.ajax({
                type: "GET",
                contentType: 'application/json',
                url:  `/viewEvent?eventId=${eventId}`,
                dataType: "json",
                error: function(){},
                // data: jsn,
                success:function(response){
                    var view = document.getElementById('eventView');
                    view.style.display = 'block';
                    // console.log(JSON.parse(JSON.stringify(response) ));
                    view.innerText ='';
                    response.event.map(function (item, index) {
                        console.log(item)
                        var li = document.createElement('div');
                        li.innerText = item;
                        view.append(li);
                    })

                    if(type=='unread'){
                        if('{{user}}' != 'FM'){
                            view.innerHTML += `<button onclick="updateEvent('reject',${eventId})" id="reject-btn">reject</button><br/>`;
                        }

                        if('{{user}}' == 'FM'){
                            view.innerHTML += `<textarea id="comment"></textarea><br/>`;
                        }

                        if('{{user}}' == 'AM'){
                            view.innerHTML += `<button onclick="updateEvent('approve',${eventId})" id="approve-btn">approve</button><br/>`;
                        }


                        if('{{user}}' != 'AM'){

                             view.innerHTML += `<select name="submitTo" id="submitTo">
                                            <!--<option value="SCSO">SCSO</option>-->
                                            <option value="FM">FM</option>
                                            <option value="AM">AM</option>
                                        </select><br/>`
                            view.innerHTML += `<button onclick="submitEvent(${eventId})" id="submit-btn">submit</button>`
                        }


                    }


                }

    });
    }
    function hide(){
        $('#reject-btn').css('display','none');
        $('#submitTo').css('display','none');
        $('#submit-btn').css('display','none');
        $('#approve-btn').css('display','none');
        $('#comment').css('display','none');
    }

    function updateEvent(t,id) {
         $.ajax({
                type: "GET",
                contentType: 'application/json',
                url:  `/updateEvent?eventId=${id}&user={{user}}&type=${t}`,
                dataType: "json",
                error: function(){},
                // data: jsn,
                success:function(response){
                    var view = document.getElementById('eventView');
                    view.innerHTML += response.res;
                    hide()

                }
         })
    }

    function submitEvent(id) {
        var to = document.getElementById('submitTo').value;
        var cmt ='';
        if ('{{user}}'=='FM'){
             cmt = document.getElementById('comment').value;
        }

        $.ajax({
                type: "GET",
                contentType: 'application/json',
                url:  `/submitEvent?to=${to}&eventId=${id}&comment=${cmt}&from={{user}}`,
                dataType: "json",
                error: function(){},
                // data: jsn,
                success:function(response){
                    var view = document.getElementById('eventView');
                    view.innerHTML += response.res;
                    hide()

                }
         })

    }






    function viewTask(taskId, type) {
        hideForm();
        $('#taskView').css('display','block');
        $.ajax({
            type: "GET",
            contentType: 'application/json',
            url: `/viewTask?taskId=${taskId}`,
            dataType: "json",
            error: function () {
            },
            // data: jsn,
            success: function (response) {
                var view = document.getElementById('taskView');
                view.style.display = 'block';
                // console.log(JSON.parse(JSON.stringify(response) ));
                view.innerText = '';
                response.task.map(function (item, index) {
                    console.log(item);
                    var li = document.createElement('div');
                    li.innerText = item;
                    view.append(li);
                });
                if(type=='unread'){


                        if('{{user}}' == 'subTeam1'|'{{user}}' == 'subTeam2'){
                            view.innerHTML += `<textarea id="comment"></textarea><br/>`;
                            view.innerHTML += `<select name="submitTo" id="submitTo">

                                            <option value="SMPM">SMPM</option>
                                        </select><br/>`
                            view.innerHTML += `<button onclick="submitTask(${taskId})" id="submit-btn">submit</button>`
                        }





                    }


            }
        })

    }

    function submitTask(id) {
         var to = document.getElementById('submitTo').value;
        var cmt = document.getElementById('comment').value;
        $.ajax({
                type: "GET",
                contentType: 'application/json',
                url:  `/submitTask?to=${to}&taskId=${id}&comment=${cmt}&from={{user}}`,
                dataType: "json",
                error: function(){},
                // data: jsn,
                success:function(response){
                    var view = document.getElementById('taskView');
                    view.innerHTML += response.res;
                    hide()

                }
         })
    }


    // window.onload = function(){
    //     console.log(1234);
    //     var $btn = $('button');
    //     console.log($btn);
    // }
    // function createHiringRequest(){
    //
    // }
    function viewHiringRequest(HrId, type) {
        hideForm();
        $('#HRView').css('display','block');
        $.ajax({
            type: "GET",
            contentType: 'application/json',
            url: `/viewHiringRequest?hrId=${HrId}`,
            dataType: "json",
            error: function () {
            },
            // data: jsn,
            success: function (response) {
                var view = document.getElementById('HRView');
                view.style.display = 'block';
                // console.log(JSON.parse(JSON.stringify(response) ));
                view.innerText = '';
                response.res.map(function (item, index) {
                    console.log(item);
                    var li = document.createElement('div');
                    li.innerText = item;
                    view.append(li);
                });
                if(type=='unread'){


                        if('{{user}}' == 'HR'){
                            view.innerHTML += `<textarea id="comment"></textarea><br/>`;
                            view.innerHTML += `<select name="submitTo" id="submitTo">

                                            <option value="SMPM">SMPM</option>
                                        </select><br/>`
                            view.innerHTML += `<button onclick="updateHR('approve',${HrId})" id="approve-btn">approve</button><br/>`;
                            view.innerHTML += `<button onclick="updateHR('reject',${HrId})" id="reject-btn">reject</button><br/>`;


                            // view.innerHTML += `<button onclick="submitTask(${HrId})" id="submit-btn">submit</button>`

                        }




                    }


            }
        })

    }

    function updateHR(type, id) {
        var to = document.getElementById('submitTo').value;
        var cmt = document.getElementById('comment').value;
        $.ajax({
                type: "GET",
                contentType: 'application/json',
                url:  `/updateHR?hrId=${id}&user={{user}}&type=${type}&to=${to}&cmt=${cmt}`,
                dataType: "json",
                error: function(){},
                // data: jsn,
                success:function(response){
                    var view = document.getElementById('HRView');
                    view.innerHTML += response.res;
                    hide()

                }
         })
    }

    function viewBudgetRequest(id) {

        hideForm();
        $('#budgetView').css('display','block');
        $.ajax({
            type: "GET",
            contentType: 'application/json',
            url: `/viewBudgetRequest?brId=${id}`,
            dataType: "json",
            error: function () {
            },
            // data: jsn,
            success: function (response) {
                var view = document.getElementById('budgetView');
                view.style.display = 'block';
                // console.log(JSON.parse(JSON.stringify(response) ));
                view.innerText = '';
                response.event.map(function (item, index) {
                    console.log(item);
                    var li = document.createElement('div');
                    li.innerText = item;
                    view.append(li);
                });
                if(type=='unread'){


                        if('{{user}}' == 'FM'){
                            view.innerHTML += `<textarea id="comment"></textarea><br/>`;
                            view.innerHTML += `<select name="submitTo" id="submitTo">

                                            <option value="SMPM">SMPM</option>
                                        </select><br/>`
                            view.innerHTML += `<button onclick="updateBudget('approve',${id})" id="approve-btn">approve</button><br/>`;
                            view.innerHTML += `<button onclick="updateBudget('reject',${id})" id="reject-btn">reject</button><br/>`;


                            // view.innerHTML += `<button onclick="submitTask(${HrId})" id="submit-btn">submit</button>`

                        }




                    }


            }
        })
    }

    function updateBudget(type,id) {
        var to = document.getElementById('submitTo').value;
        var cmt = document.getElementById('comment').value;
        $.ajax({
                type: "GET",
                contentType: 'application/json',
                url:  `/updateBudgetRequest?brId=${id}&user={{user}}&type=${type}&to=${to}&cmt=${cmt}`,
                dataType: "json",
                error: function(){},
                // data: jsn,
                success:function(response){
                    var view = document.getElementById('budgetView');
                    view.innerHTML += response.res;
                    hide()

                }
         })
    }



</script>
</head>
<body>
    <div id="user">Hi, {{ user }}</div>

    {% for btn in views%}

    {% if btn == 'createEvent'%}
        <button id='createEvent' onclick="openForm(1)" >{{btn}}</button>
    {% endif%}

    {% if btn == 'createTask'%}
        <button id='createTask' onclick="openForm(2)" >{{btn}}</button>
    {% endif%}

    {% if btn == 'createHiringRequest'%}
        <button id='createHiringRequest' onclick="openForm(3)" >{{btn}}</button>
    {% endif%}

    {% if btn == 'createBudgetRequest'%}
        <button id='createBudgetRequest' onclick="openForm(4)" >{{btn}}</button>
    {% endif%}

    <!--{% if btn == 'viewHiringRequest'%}-->
        <!--<button id='viewHiringRequest' onclick="openForm(3)" >{{btn}}</button>-->
    <!--{% endif%}-->


    {%endfor%}


    {% if user == 'SCSO' or user == 'FM' or user =='AM'%}
        <div>
            event view: {{eventList.length}}
            <ul>
        {% for e in eventList %}
            {% if e != ''%}
            <a href="javascript:viewEvent({{e.split(' ')[0]}},'{{e.split(' ')[1]}}')"><li>{{e}}</li></a>
            {% endif%}
        {% endfor%}
            </ul>

             <div id="eventView">


            </div>
        </div>

    {% endif%}

    {% if user == 'SMPM' or user == 'subTeam1' or user == 'subTeam2'%}
        <div>
            task list:{{taskList.length}}
            <ul>
        {% for tsk in taskList %}
            {% if tsk != ''%}
            <a href="javascript:viewTask({{tsk.split(' ')[0]}},'{{tsk.split(' ')[1]}}')"><li>{{tsk.split(' ')[0]}}</li></a>
            {% endif%}
        {% endfor%}
            </ul>

             <div id="taskView">


            </div>
        </div>

    {% endif%}

    {% if user == 'SMPM' or user == 'HR'%}
        <div>
            Hiring request list: {{HRList.length}}
            <ul>
        {% for hr in HRList %}
            {% if hr != ''%}
            <a href="javascript:viewHiringRequest({{hr.split(' ')[0]}},'{{hr.split(' ')[1]}}')"><li>{{hr}}</li></a>
            {% endif%}
        {% endfor%}
            </ul>

             <div id="HRView">


            </div>
        </div>

    {% endif%}

    {% if user == 'SMPM' or user == 'FM'%}
        <div>
            budget request list: {{budgetList.length}}
            <ul>
        {% for hr in budgetList %}
            {% if hr != ''%}
            <a href="javascript:viewBudgetRequest({{hr.split(' ')[0]}},'{{hr.split(' ')[1]}}')"><li>{{hr}}</li></a>
            {% endif%}
        {% endfor%}
            </ul>

             <div id="budgetView">


            </div>
        </div>

    {% endif%}








    <div id="form1" style="display: none">
        <form id="eventForm" action="/createEvent">
            clientName<br/>
            <select name="clientName">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </select><br/>
            eventName<br/>
            <input type="text" name="eventName"><br/>
            startDate<br/>
            <input type="date" name="startDate"><br/>
            endDate<br/>
            <input type="date" name="endDate"><br/>
            budget<br/>
            <input type="number" name="budget"><br/>
            submitTo<br/>
            <select name="submitTo">
                <option value="SCSO">SCSO</option>
                <option value="FM">FM</option>
                <option value="AM">AM</option>
            </select><br/>
            <!--eventId<br/>-->
            <!--<input type="text" value="time">-->
            <input type="submit" value="Submit">
        </form>

    </div>



    <div id="form2" style="display: none">
        <form id="taskForm" action="/createTask">
            clientName<br/>
            <select name="clientName">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </select><br/>
            eventName<br/>
            <input type="text" name="eventName"><br/>
            taskName<br/>
            <input type="text" name="taskName"><br/>
            activity<br/>
            <input type="text" name="activity"><br/>
            budget<br/>
            <input type="number" name="budget"><br/>
            submitTo<br/>
            <select name="submitTo">
                <option value="subTeam1">subTeam1</option>
                <option value="subTeam2">subTeam2</option>
            </select><br/>
            <!--eventId<br/>-->
            <!--<input type="text" value="time">-->
            <input type="submit" value="Submit">
        </form>

    </div>

    <div id="form3" style="display: none">
        <form id="hiringForm" action="/createHrRequest">
            <!--clientName<br/>-->
            <!--<select name="clientName">-->
                <!--<option value="A">A</option>-->
                <!--<option value="B">B</option>-->
                <!--<option value="C">C</option>-->
            <!--</select><br/>-->
            role<br/>
            <input type="text" name="role"><br/>
            description<br/>
            <input type="text" name="desc"><br/>
            submitTo<br/>
            <select name="submitTo">
                <option value="HR">HR</option>
            </select><br/>
            <!--eventId<br/>-->
            <!--<input type="text" value="time">-->
            <input type="submit" value="Submit">
        </form>

    </div>

    <div id="form4" style="display: none">
        <form id="budgetForm" action="/createBudgetRequest">
            <!--clientName<br/>-->
            <!--<select name="clientName">-->
                <!--<option value="A">A</option>-->
                <!--<option value="B">B</option>-->
                <!--<option value="C">C</option>-->
            <!--</select><br/>-->
            amount<br/>
            <input type="number" name="amount"><br/>
            eventName<br/>
            <input type="text" name="eventName"><br/>
            activity<br/>
            <input type="text" name="activity"><br/>
            submitTo<br/>
            <select name="submitTo">
                <option value="subTeam">FM</option>
            </select><br/>
            <!--eventId<br/>-->
            <!--<input type="text" value="time">-->
            <input type="submit" value="Submit">
        </form>

    </div>



</body>




</html>